<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!--[if !mso]>
			<!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--
			
			<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/helvetica-neue-55" rel="stylesheet">
    <title>Email</title>
    <!--[if (gte mso 9)|(IE)]>
					<style type="text/css">   table {border-collapse: collapse !important;}   body, table, td, h1, h2, h3, p, a {font-family: arial, sans-serif !important;}   </style>
					<style type="text/css">   .padding-x-70-outlook {       padding-right: 70px !important;       padding-left: 70px !important;   }   </style>
					<xml>
						<o:OfficeDocumentSettings>
							<o:AllowPNG/>
							<o:PixelsPerInch>96</o:PixelsPerInch>
						</o:OfficeDocumentSettings>
					</xml>
					<![endif]-->
    <style type="text/css">
      body {
        font-family: "helvetica";
        margin: 0;
      }
    </style>
  </head>
  <body>
    <table class="flexible-content" cellpadding="0" cellspacing="0" width="800" border="0" align="center" style="background-color: #f8f8f8;background-image: url(images/main-bg.jpg);background-repeat: repeat;">
      <tr>
        <td align="center" valign="top">
          <img src="images/main-section.jpg" style="display: block;" width="800" height="auto" alt="main-section">
        </td>
      </tr>
      <tr>
        <td align="left" valign="top">
          <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center" valign="middle" width="236" style="background-image: url(images/bg-image.png);background-size: cover;">
                <img src="images/xen-nir4-small.gif" width="190" height="auto" alt="xen-nir4">
              </td>
              <td align="left" valign="top" width="536">
                <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td align="left" valign="top">
                      <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td align="left" valign="top" style="background-color: #ffffff;border-radius: 15px;">
                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td align="left" valign="top">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" height="29"></td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top">
                                        <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                          <tr>
                                            <td align="left" valign="top" width="21"></td>
                                            <td align="left" valign="top" width="480">
                                              <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                  <td align="left" valign="top">
                                                    <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                      <tr>
                                                        <td align="left" valign="top" width="100">
                                                          <img src="images/icon-1.png" width="100" height="auto" alt="icon-1">
                                                        </td>
                                                        <td align="left" valign="top" width="15"></td>
                                                        <td align="left" valign="top" width="365">
                                                          <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                              <td align="left" valign="top">
                                                                <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                                  <tr>
                                                                    <td align="left" valign="top">
                                                                      <img src="images/heading-1.png" width="219" height="auto" alt="heading-1">
                                                                    </td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td align="left" valign="top" height="10"></td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td align="left" valign="top" style="font-size: 18px;font-family:  Helvetica, Arial, sans-serif;line-height: 22px;color: #000;"> Xen LED utilises over 10,500 Chip-on-Board LEDs for intense and evenly distributed light. This uniformity is crucial for delivering therapeutic doses effectively within the optical window of tissue. </td>
                                                                  </tr>
                                                                </table>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                            <td align="left" valign="top" width="35"></td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top" height="25"></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="25"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" style="background-color: #ededed;border-radius: 15px;">
                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td align="left" valign="top">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" height="29"></td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top">
                                        <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                          <tr>
                                            <td align="left" valign="top" width="21"></td>
                                            <td align="left" valign="top" width="470">
                                              <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                  <td align="left" valign="top">
                                                    <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                      <tr>
                                                        <td align="left" valign="top" width="100">
                                                          <img src="images/icon-2.png" width="100" height="auto" alt="icon-2">
                                                        </td>
                                                        <td align="left" valign="top" width="15"></td>
                                                        <td align="left" valign="top" width="355">
                                                          <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                              <td align="left" valign="top">
                                                                <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                                  <tr>
                                                                    <td align="left" valign="top">
                                                                      <img src="images/heading-2.png" width="283" height="auto" alt="heading-2">
                                                                    </td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td align="left" valign="top" height="10"></td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td align="left" valign="top" style="font-size: 18px;font-family:  Helvetica, Arial, sans-serif;line-height: 22px;color: #000;"> Superior energy efficiency and even light distribution ensures optimal penetration within the optical window, maximising the regenerative capabilities of photobiomodulation therapy. </td>
                                                                  </tr>
                                                                </table>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                            <td align="left" valign="top" width="45"></td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top" height="25"></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="25"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" style="background-color: #ffffff;border-radius: 15px;">
                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td align="left" valign="top">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" height="29"></td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top">
                                        <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                          <tr>
                                            <td align="left" valign="top" width="21"></td>
                                            <td align="left" valign="top" width="494">
                                              <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                  <td align="left" valign="top">
                                                    <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                      <tr>
                                                        <td align="left" valign="top" width="100">
                                                          <img src="images/icon-3.png" width="100" height="auto" alt="icon-3">
                                                        </td>
                                                        <td align="left" valign="top" width="15"></td>
                                                        <td align="left" valign="top" width="379">
                                                          <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                              <td align="left" valign="top">
                                                                <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                                  <tr>
                                                                    <td align="left" valign="top">
                                                                      <img src="images/heading-3.png" width="342" height="auto" alt="heading-3">
                                                                    </td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td align="left" valign="top" height="10"></td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td align="left" valign="top" style="font-size: 18px;font-family:  Helvetica, Arial, sans-serif;line-height: 22px;color: #000;"> Xen LED sets a new benchmark in tissue regeneration, delivering the optimal dose of 60 joules per cm2 in shorter timeframes, enhancing cellular activity and operational efficiency. </td>
                                                                  </tr>
                                                                </table>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                            <td align="left" valign="top" width="21"></td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top" height="25"></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
              <td align="left" valign="top" width="28"></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td align="left" valign="top" height="33"></td>
      </tr>
      <tr>
        <td align="center" class="p-l-r">
          <table width="245" align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td width="100%" height="51" align="center" valign="middle" style="text-align: center; vertical-align: middle; background-color: #ed0000; border-radius: 10px;">
                  <a href="https://aestheticbureau.com.au/xen-led/" target="_blank" style="font-family: Helvetica, Arial,  sans-serif; text-decoration: none;  color: #fff; font-size: 22.67px; text-transform: uppercase;line-height: 51px; ">FIND OUT MORE </a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td align="left" valign="top" height="33"></td>
      </tr>
      <tr>
        <td align="center" valign="top">
          <img src="images/middle-section.jpg" style="display: block;" width="800" height="auto" alt="middle-section">
        </td>
      </tr>
      <tr>
        <td align="left" valign="top">
          <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center" valign="middle" width="236" >
                <img src="images/xen2.gif" width="236" alt="xen2">
              </td>
              <td align="left" valign="top" width="536">
                <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td align="left" valign="top">
                      <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td align="left" valign="top" style="background-color: #ffffff;border-radius: 15px;">
                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td align="left" valign="top">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" height="29"></td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top">
                                        <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                          <tr>
                                            <td align="left" valign="top" width="21"></td>
                                            <td align="left" valign="top" width="460">
                                              <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                  <td align="left" valign="top">
                                                    <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                      <tr>
                                                        <td align="left" valign="top" width="100">
                                                          <img src="images/icon-4.png" width="100" height="auto" alt="icon-4">
                                                        </td>
                                                        <td align="left" valign="top" width="15"></td>
                                                        <td align="left" valign="top" width="345">
                                                          <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                              <td align="left" valign="top">
                                                                <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                                  <tr>
                                                                    <td align="left" valign="top">
                                                                      <img src="images/heading-4.png" width="347" height="auto" alt="heading-4">
                                                                    </td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td align="left" valign="top" height="10"></td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td align="left" valign="top" style="font-size: 18px;font-family:  Helvetica, Arial, sans-serif;line-height: 22px;color: #000;"> Offers full body coverage with over 18,000 high-intensity LEDs, providing comprehensive stimulation of regenerative processes with an expansive treatment area of up to 2m² for maximal systemic health benefits.</td>
                                                                  </tr>
                                                                </table>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                            <td align="left" valign="top" width="55"></td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top" height="25"></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="25"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" style="background-color: #ededed;border-radius: 15px;">
                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td align="left" valign="top">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" height="29"></td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top">
                                        <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                          <tr>
                                            <td align="left" valign="top" width="21"></td>
                                            <td align="left" valign="top" width="494">
                                              <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                  <td align="left" valign="top">
                                                    <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                      <tr>
                                                        <td align="left" valign="top" width="100">
                                                          <img src="images/icon-5.png" width="100" height="auto" alt="icon-5">
                                                        </td>
                                                        <td align="left" valign="top" width="15"></td>
                                                        <td align="left" valign="top" width="379">
                                                          <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                              <td align="left" valign="top">
                                                                <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                                  <tr>
                                                                    <td align="left" valign="top">
                                                                      <img src="images/heading-5.png" width="341" height="auto" alt="heading-5">
                                                                    </td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td align="left" valign="top" height="10"></td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td align="left" valign="top" style="font-size: 18px;font-family:  Helvetica, Arial, sans-serif;line-height: 22px;color: #000;"> Engineered for peak efficiency and uniform light distribution, Total Xen achieves unparalleled therapeutic intensity across its entire treatment zone. This maintains consistent levels necessary for deep tissue impact and systemic health enhancement, outperforming traditional devices in both scope and effectiveness.</td>
                                                                  </tr>
                                                                </table>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                            <td align="left" valign="top" width="21"></td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top" height="25"></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="25"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" style="background-color: #ffffff;border-radius: 15px;">
                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td align="left" valign="top">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" height="29"></td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top">
                                        <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                          <tr>
                                            <td align="left" valign="top" width="21"></td>
                                            <td align="left" valign="top" width="470">
                                              <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                  <td align="left" valign="top">
                                                    <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                      <tr>
                                                        <td align="left" valign="top" width="100">
                                                          <img src="images/icon-6.png" width="100" height="auto" alt="icon-6">
                                                        </td>
                                                        <td align="left" valign="top" width="15"></td>
                                                        <td align="left" valign="top" width="355">
                                                          <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                              <td align="left" valign="top">
                                                                <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                                  <tr>
                                                                    <td align="left" valign="top">
                                                                      <img src="images/heading-6.png" width="341" height="auto" alt="heading-6">
                                                                    </td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td align="left" valign="top" height="10"></td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td align="left" valign="top" style="font-size: 18px;font-family:  Helvetica, Arial, sans-serif;line-height: 22px;color: #000;">Total Xen sets a new benchmark with up to 450,000 Joules of light energy per session, accelerating systemic recovery and enhancing overall wellness. Its ability to deliver a comprehensive range of benefits in shorter sessions not only improves patient outcomes but increases clinic throughput and efficiency.</td>
                                                                  </tr>
                                                                </table>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                            <td align="left" valign="top" width="45"></td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top" height="25"></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
              <td align="left" valign="top" width="28"></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td align="left" valign="top" height="33"></td>
      </tr>
      <tr>
        <td align="center" class="p-l-r">
          <table width="245" align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td width="100%" height="51" align="center" valign="middle" style="text-align: center; vertical-align: middle; background-color: #ed0000; border-radius: 10px;">
                  <a href="https://aestheticbureau.com.au/total-xen-led/" target="_blank" style="font-family: Helvetica, Arial,  sans-serif; text-decoration: none;  color: #fff; font-size: 22.67px; text-transform: uppercase;line-height: 51px; ">FIND OUT MORE </a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td align="left" valign="top" height="33"></td>
      </tr>
      <tr>
        <td align="center" valign="top">
          <img src="images/bottom-sec.jpg" style="display: block;" width="800" height="auto" alt="bottom-sec">
        </td>
      </tr>
      <tr>
        <td align="left" valign="top">
          <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center" valign="middle" width="236">
                <img src="images/pearl-xen.gif" width="190" height="auto" alt="pearl-xen">
              </td>
              <td align="left" valign="top" width="536">
                <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td align="left" valign="top">
                      <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td align="left" valign="top" style="background-color: #ffffff;border-radius: 15px;">
                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td align="left" valign="top">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" height="29"></td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top">
                                        <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                          <tr>
                                            <td align="left" valign="top" width="21"></td>
                                            <td align="left" valign="top" width="470">
                                              <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                  <td align="left" valign="top">
                                                    <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                      <tr>
                                                        <td align="left" valign="top" width="100">
                                                          <img src="images/icon-7.png" width="100" height="auto" alt="icon-7">
                                                        </td>
                                                        <td align="left" valign="top" width="15"></td>
                                                        <td align="left" valign="top" width="355">
                                                          <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                              <td align="left" valign="top">
                                                                <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                                  <tr>
                                                                    <td align="left" valign="top">
                                                                      <img src="images/heading-7.png" width="328" height="auto" alt="heading-7">
                                                                    </td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td align="left" valign="top" height="10"></td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td align="left" valign="top" style="font-size: 18px;font-family:  Helvetica, Arial, sans-serif;line-height: 22px;color: #000;"> Dual chip LED technology deliver superior performance with 864 premium LEDs with high intensity and precision, making it the most powerful professional LED mask on the market.</td>
                                                                  </tr>
                                                                </table>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                            <td align="left" valign="top" width="45"></td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top" height="25"></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="25"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" style="background-color: #ededed;border-radius: 15px;">
                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td align="left" valign="top">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" height="29"></td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top">
                                        <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                          <tr>
                                            <td align="left" valign="top" width="21"></td>
                                            <td align="left" valign="top" width="420">
                                              <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                  <td align="left" valign="top">
                                                    <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                      <tr>
                                                        <td align="left" valign="top" width="100">
                                                          <img src="images/icon-8.png" width="100" height="auto" alt="icon-8">
                                                        </td>
                                                        <td align="left" valign="top" width="15"></td>
                                                        <td align="left" valign="top" width="305">
                                                          <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                              <td align="left" valign="top">
                                                                <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                                  <tr>
                                                                    <td align="left" valign="top">
                                                                      <img src="images/heading-8.png" width="298" height="auto" alt="heading-8">
                                                                    </td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td align="left" valign="top" height="10"></td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td align="left" valign="top" style="font-size: 18px;font-family:  Helvetica, Arial, sans-serif;line-height: 22px;color: #000;"> Unmatched versatility in addressing a variety of skin concerns with four distinct wavelengths and six targeted treatment modes.</td>
                                                                  </tr>
                                                                </table>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                            <td align="left" valign="top" width="95"></td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top" height="25"></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="25"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" style="background-color: #ffffff;border-radius: 15px;">
                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td align="left" valign="top">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" height="29"></td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top">
                                        <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                          <tr>
                                            <td align="left" valign="top" width="21"></td>
                                            <td align="left" valign="top" width="470">
                                              <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                  <td align="left" valign="top">
                                                    <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                      <tr>
                                                        <td align="left" valign="top" width="100">
                                                          <img src="images/icon-9.png" width="100" height="auto" alt="icon-9">
                                                        </td>
                                                        <td align="left" valign="top" width="15"></td>
                                                        <td align="left" valign="top" width="355">
                                                          <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                              <td align="left" valign="top">
                                                                <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                                  <tr>
                                                                    <td align="left" valign="top">
                                                                      <img src="images/heading-9.png" width="243" height="auto" alt="heading-9">
                                                                    </td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td align="left" valign="top" height="10"></td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td align="left" valign="top" style="font-size: 18px;font-family:  Helvetica, Arial, sans-serif;line-height: 22px;color: #000;">Compact yet potent output ensures deep penetration and effective stimulation of skin’s natural healing processes.</td>
                                                                  </tr>
                                                                </table>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                            <td align="left" valign="top" width="45"></td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top" height="25"></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="25"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" style="background-color: #ededed;border-radius: 15px;">
                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td align="left" valign="top">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" height="29"></td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top">
                                        <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                          <tr>
                                            <td align="left" valign="top" width="21"></td>
                                            <td align="left" valign="top" width="494">
                                              <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                  <td align="left" valign="top">
                                                    <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                      <tr>
                                                        <td align="left" valign="top" width="100">
                                                          <img src="images/icon-10.png" width="100" height="auto" alt="icon-10">
                                                        </td>
                                                        <td align="left" valign="top" width="15"></td>
                                                        <td align="left" valign="top" width="379">
                                                          <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                              <td align="left" valign="top">
                                                                <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                                  <tr>
                                                                    <td align="left" valign="top">
                                                                      <img src="images/heading-10.png" width="235" height="auto" alt="heading-10">
                                                                    </td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td align="left" valign="top" height="10"></td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td align="left" valign="top" style="font-size: 18px;font-family:  Helvetica, Arial, sans-serif;line-height: 22px;color: #000;"> Accessible entry point into high-quality LED therapy, offering exceptional value with low upfront investment for quick ROI.</td>
                                                                  </tr>
                                                                </table>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                            <td align="left" valign="top" width="21"></td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top" height="25"></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
              <td align="left" valign="top" width="28"></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td align="left" valign="top" height="47"></td>
      </tr>
      <tr>
        <td align="center" class="p-l-r">
          <table width="245" align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td width="100%" height="51" align="center" valign="middle" style="text-align: center; vertical-align: middle; background-color: #ed0000; border-radius: 10px;">
                  <a href="https://aestheticbureau.com.au/pearl-xen-led/" target="_blank" style="font-family: Helvetica, Arial,  sans-serif; text-decoration: none;  color: #fff; font-size: 22.67px; text-transform: uppercase;line-height: 51px; ">FIND OUT MORE </a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td align="left" valign="top" height="60"></td>
      </tr>
    </table>
  </body>
</html>