<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!--[if !mso]><!-->
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <!--[if (gte mso 9)|(IE)]>   <style type="text/css">   table {border-collapse: collapse !important;}   body, table, td, h1, h2, h3, p, a {font-family: arial, sans-serif !important;}   </style>   <style type="text/css">   .padding-x-70-outlook {       padding-right: 70px !important;       padding-left: 70px !important;   }   </style>   <xml>   <o:OfficeDocumentSettings>     <o:AllowPNG/>     <o:PixelsPerInch>96</o:PixelsPerInch>   </o:OfficeDocumentSettings>   </xml>   <![endif]-->
    <style type="text/css">
      body {
        margin: 0;
      }
      @media screen and (max-width: 600px) {

        *[class].hide,
        .hide {
          width: 1px !important;
          max-height: none !important;
          display: none !important;
          overflow: visible !important;
          float: none !important;
        }

        *[class].block-txt-center,
        .block-txt-center {
          text-align: center !important;
          margin: 0 auto !important;
        }

        img {
          max-width: 100%;
          height: auto;
          max-height: auto !important;
        }

        *[class].txt-center,
        .txt-center {
          text-align: center;
        }

        *[class].txt-center td,
        .txt-center td {
          text-align: center !important;
        }

        *[class].txt-center td table,
        .txt-center td table {
          text-align: center !important;
          margin: 0 auto;
        }

        *[class].centerblocks,
        .centerblocks {
          float: none !important;
          margin: 0 auto !important;
        }

        *[class].flexible-content,
        .flexible-content {
          width: 100% !important;
        }

        *[class].block,
        .block {
          width: 100% !important;
          text-align: center !important;
          display: block !important;
          margin: 0 auto !important;
        }

        *[class].block-txt,
        .block-txt {
          text-align: center !important;
          display: block !important;
          margin: 0 auto !important;
        }

        *[class].hidden,
        .hidden {
          display: none;
        }

        .p-l-r,
        .p-l-r {
          padding: 0 15px;
        }

        .p-l-r-20,
        .p-l-r-20 {
          padding: 0 20px;
        }
      }
    </style>
  </head>
  <body>
    <table class="flexible-content" cellpadding="0" cellspacing="0" width="600" border="0" align="center">
      <tr>
        <td align="left" valign="top" style="background-color: #1D1E33;">
          <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td  align="left" valign="top" height="5"></td>
            </tr>
            <tr>
              <td align="center" valign="top">
               <a href="#" target="_blank"><img src="./images/logo.png" width="153" height="50" alt="logo"></a>
              </td>
            </tr>
            <tr>
              <td  align="left" valign="top" height="5"></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td align="left" valign="top">
          <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="left" valign="top" width="40" class="hidden"></td>
              <td align="left" valign="top" width="520">
                <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td align="left" valign="top">
                      <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td align="left" valign="top" height="40"></td>
                        </tr>
                        <tr>
                          <td align="left" class="p-l-r" valign="top" style="color: #333333;font-family: 'Roboto' , Arial;font-size: 20px;font-weight: 700;line-height: 25px;">Password Reset Confirmation</td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="30"></td>
                        </tr>
                        <tr>
                          <td align="left" class="p-l-r" valign="top" style="color: #333333;font-family: 'Roboto' , Arial;font-size: 15px;font-weight: 400;line-height: 25px;">Hi Anna,</td>
                        </tr>
                        <tr>
                          <td align="left" class="p-l-r" valign="top" style="color: #333333;font-family: 'Roboto' , Arial;font-size: 15px;font-weight: 400;line-height: 25px;">You can reset your password can by clicking the button below.</td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="15"></td>
                        </tr>
                        <tr>
                          <td align="left" class="p-l-r" valign="top" style="color: #333333;font-family: 'Roboto' , Arial;font-size: 15px;font-weight: 400;line-height: 25px;">
                            If you did not request a password reset, please ignore this email.</td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="30"></td>
                        </tr>
                        <tr>
                          <td align="left" class="p-l-r">
                             <table width="159" align="left" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                   <tr>
                                      <td width="100%" height="45" align="left" valign="middle" style="text-align: center; vertical-align: middle;    border-radius: 30px; background-color: #F5C218; "><a href="#" target="_blank" style="font-family: 'Roboto' , Arial;  text-decoration: none;  color: #333333; font-size: 15px; line-height: 45px;font-weight: 500;" >Reset Password</a></td>
                                   </tr>
                                </tbody>
                             </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="30"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="1" style="border-bottom: 1px solid #ddd;"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="30"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">
                            <table  width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td align="left" valign="top" width="100">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" class="p-l-r" valign="top" style="color: #333;font-family: 'Roboto' , Arial;font-size: 15px;font-weight: 400;line-height: 25px;">Thank you,</td>
                                    </tr>
                                    <tr>
                                      <td align="left" class="p-l-r" valign="top" style="color: #333;font-family: 'Roboto' , Arial;font-size: 15px;font-weight: 400;line-height: 25px;">Flipbookings</td>
                                    </tr>
                                  </table>
                                </td>
                                <td align="left" valign="top" width="250"></td>
                                <td align="left" valign="center" width="170" class="block-txt p-l-r">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                   <tr>
                                    <td align="left" valign="top">
                                      <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                          <td align="left" valign="top" width="30">
                                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                              <tr>
                                                <td align="left" valign="top"><a href="#" target="_blank"><img src="./images/facebook.png" width="30" height="30" alt="facebook" style="display: block;"></a></td>
                                              </tr>
                                            </table>
                                          </td>
                                          <td align="left" valign="top" width="5"></td>
                                          <td align="left" valign="top" width="30">
                                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                              <tr>
                                                <td align="left" valign="top"><a href="#" target="_blank"><img src="./images/linkedin.png" width="30" height="30" alt="linkedin" style="display: block;"></a></td>
                                              </tr>
                                            </table>
                                          </td>
                                          <td align="left" valign="top" width="5"></td>
                                          <td align="left" valign="top" width="30">
                                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                              <tr>
                                                <td align="left" valign="top"><a href="#" target="_blank"><img src="./images/twitter.png" width="30" height="30" alt="twitter" style="display: block;"></a></td>
                                              </tr>
                                            </table>
                                          </td>
                                          <td align="left" valign="top" width="5"></td>
                                          <td align="left" valign="top" width="30">
                                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                              <tr>
                                                <td align="left" valign="top"><a href="#" target="_blank"><img src="./images/instagram.png" width="30" height="30" alt="instagram" style="display: block;"></a></td>
                                              </tr>
                                            </table>
                                          </td>
                                          <td align="left" valign="top" width="5"></td>
                                          <td align="left" valign="top" width="30">
                                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                              <tr>
                                                <td align="left" valign="top"><a href="#" target="_blank"><img src="./images/youtube.png" width="30" height="30" alt="youtube" style="display: block;"></a></td>
                                              </tr>
                                            </table>
                                          </td>
                                        </tr>
                                      </table>
                                    </td>
                                   </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="30"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="1" style="border-bottom: 1px solid #ddd;"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="30"></td>
                        </tr>
                        <tr>
                          <td align="left" class="p-l-r" valign="top" style="color: #333;font-family: 'Roboto' , Arial;font-size: 15px;font-weight: 700;line-height: 25px;">Get the Flipbookings App</td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="20"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">
                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td align="left" valign="top" width="296" class="block-txt p-l-r">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top">
                                        <table  width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                          <tr>
                                            <td align="left" valign="top" width="150">
                                              <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                  <td align="left" valign="top"><a href="#" target="_blank"><img src="./images/play-store.png" width="150" height="45" alt="play-store" style="display: block;"></a></td>
                                                </tr>
                                              </table>
                                            </td>
                                            <td align="left" valign="top" width="10"></td>
                                            <td align="left" valign="top" width="136">
                                              <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                  <td align="left" valign="top"><a href="#" target="_blank"><img src="./images/app-store.png" width="136" height="45" alt="play-store" style="display: block;"></a></td>
                                                </tr>
                                              </table>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td align="left" valign="top" width="224"></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="40"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
              <td align="left" valign="top" width="40" class="hidden"></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>