<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <style type="text/css">
      body {
        margin: 0;
      }

      @media screen and (max-width: 600px) {

        *[class].hide,
        .hide {
          width: 1px !important;
          max-height: none !important;
          display: none !important;
          overflow: visible !important;
          float: none !important;
        }

        *[class].block-txt-center,
        .block-txt-center {
          text-align: center !important;
          margin: 0 auto !important;
        }

        img {
          max-width: 100%;
          height: auto;
          max-height: auto !important;
        }

        *[class].txt-center,
        .txt-center {
          text-align: center;
        }

        *[class].txt-center td,
        .txt-center td {
          text-align: center !important;
        }

        *[class].txt-center td table,
        .txt-center td table {
          text-align: center !important;
          margin: 0 auto;
        }

        *[class].centerblocks,
        .centerblocks {
          float: none !important;
          margin: 0 auto !important;
        }

        *[class].flexible-content,
        .flexible-content {
          width: 100% !important;
        }

        *[class].block,
        .block {
          width: 100% !important;
          text-align: center !important;
          display: block !important;
          margin: 0 auto !important;
        }

        *[class].block-txt,
        .block-txt {
          text-align: center !important;
          display: block !important;
          margin: 0 auto !important;
        }

        *[class].hidden,
        .hidden {
          display: none;
        }

        .p-l-r,
        .p-l-r {
          padding: 0 15px;
        }

        .p-l-r-20,
        .p-l-r-20 {
          padding: 0 20px;
        }
      }
    </style>
  </head>
  <body>
    <table class="flexible-content" cellpadding="0" cellspacing="0" style="background-color: #ffffff;" width="600" border="0" align="center">
      <tr>
        <td align="left" valign="top" height="50"></td>
      </tr>
      <tr>
        <td align="center" valign="top">
          <img src="images/logo.png" width="173.5" height="130" alt="logo">
        </td>
      </tr>
      <tr>
        <td align="left" valign="top" height="30"></td>
      </tr>
      <tr>
        <td align="left" valign="top">
          <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="left" valign="top" width="50"></td>
              <td align="left" valign="top" width="500">
                <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td align="left" valign="top">
                      <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 17px;font-weight: 700;line-height: 1;color: #5B50F8;text-transform: uppercase;">hi anna,</td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="30"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 14px;font-weight: 400;line-height: 26px;color: #0E0E0E;">Thank you for your recent purchase on Pinacam Auto! We’re excited to have you as a customer and are here to ensure a smooth and satisfying experience with your new vehicle.
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="30"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 14px;font-weight: 400;line-height: 26px;color: #0E0E0E;">Your payment was successfully processed, and your order details are below.
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="50"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="1" style="background-color: rgba(0, 0, 0, 0.2);"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="50"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 17px;font-weight: 700;line-height: 1;color: #5B50F8;text-transform: uppercase;">order summary</td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="30"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">
                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td align="left" valign="top" width="50%">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 14px;font-weight: 400;line-height: 26px;color: #0E0E0E;">Car Model
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td align="left" valign="top" width="50%">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 14px;font-weight: 700;line-height: 26px;color: #0E0E0E;">Mustang Cobra 2018
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="15"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">
                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td align="left" valign="top" width="50%">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 14px;font-weight: 400;line-height: 26px;color: #0E0E0E;">Car Model
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td align="left" valign="top" width="50%">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 14px;font-weight: 700;line-height: 26px;color: #0E0E0E;">Mustang Cobra 2018
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="15"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">
                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td align="left" valign="top" width="50%">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 14px;font-weight: 400;line-height: 26px;color: #0E0E0E;">Price
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td align="left" valign="top" width="50%">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 14px;font-weight: 700;line-height: 26px;color: #0E0E0E;">$ 88,647
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="15"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">
                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td align="left" valign="top" width="50%">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 14px;font-weight: 400;line-height: 26px;color: #0E0E0E;">Color
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td align="left" valign="top" width="50%">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 14px;font-weight: 700;line-height: 26px;color: #0E0E0E;">White
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="15"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">
                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td align="left" valign="top" width="50%">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 14px;font-weight: 400;line-height: 26px;color: #0E0E0E;">Mileage
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td align="left" valign="top" width="50%">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 14px;font-weight: 700;line-height: 26px;color: #0E0E0E;">157,400 km
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="15"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">
                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td align="left" valign="top" width="50%">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 14px;font-weight: 400;line-height: 26px;color: #0E0E0E;">Engine Condition
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td align="left" valign="top" width="50%">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 14px;font-weight: 700;line-height: 26px;color: #0E0E0E;">Excellent
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="15"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">
                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td align="left" valign="top" width="50%">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 14px;font-weight: 400;line-height: 26px;color: #0E0E0E;">Suspension Condition
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td align="left" valign="top" width="50%">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 14px;font-weight: 700;line-height: 26px;color: #0E0E0E;">Good
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="15"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">
                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td align="left" valign="top" width="50%">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 14px;font-weight: 400;line-height: 26px;color: #0E0E0E;">Est Pick-Up / Delivery Date
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td align="left" valign="top" width="50%">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 14px;font-weight: 700;line-height: 26px;color: #0E0E0E;">August 14, 2024
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="50"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 17px;font-weight: 700;line-height: 1;color: #5B50F8;text-transform: uppercase;">Payment Method
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="30"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top">
                            <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td align="left" valign="top" width="50%">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 14px;font-weight: 400;line-height: 26px;color: #0E0E0E;">Paid with Master Card
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <td align="left" valign="top" width="50%">
                                  <table width="100%" class="flexible-content" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 14px;font-weight: 700;line-height: 26px;color: #0E0E0E;">ending in 8390
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="50"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="1" style="background-color: rgba(0, 0, 0, 0.2);"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="50"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 17px;font-weight: 700;line-height: 1;color: #5B50F8;text-transform: uppercase;">what’s next?
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="30"></td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" style="font-family: 'Montserrat', Arial, Helvetica, sans-serif;font-size: 14px;font-weight: 400;line-height: 26px;color: #0E0E0E;">Our team will be in touch with more details about your car’s pick-up or delivery. In the meantime, feel free to review the additional details of your order on our website or contact us with any questions.
                          </td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" height="50"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
              <td align="left" valign="top" width="50"></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>