<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
      <meta content="telephone=no" name="format-detection" />
      <meta content="width=device-width, initial-scale=1.0" name="viewport" />
      <!--[if !mso]><!-->
      <meta content="IE=edge" http-equiv="X-UA-Compatible" />
      <!--<![endif]-->
      <title>Coke</title>
      <style type="text/css">@media screen and (max-width: 640px) {
      *[class].wtable {
      width: 300px !important;
      }
      *[class].large {
      display: none !important;
      }
      *[class].small {
      display: block !important;
      width: 300px !important;
      overflow: visible !important;
      float: none !important;
      }
      *[class].hide, .hide {
      width: 1px !important;
      max-height: none !important;
      display: none !important;
      overflow: visible !important;
      float: none !important;
      }
      *[class].btn {
      font-size: 12px !important;
      }
      *[class].fs16 {
      font-size: 16px !important;
      -webkit-text-size-adjust: none !important;
      }
      *[class].fs20 {
      font-size: 20px !important;
      -webkit-text-size-adjust: none !important;
      }
      *[class].showimage {
      background-position: left top !important;
      background-repeat: no-repeat !important;
      background-size: 100% auto !important;
      display: block !important;
      }
      *[class].f10 {
      font-size: 10px !important;
      }
      *[class].f12 {
      font-size: 12px !important;
      }
      *[class].logo {
      padding-right: 300px !important;
      padding-bottom: 36px !important;
      background-image: url('file:///T|/2. Digital/3. Clients/Nespresso/Guidelines/CRM/eDM guidelines/[New] Agency-Email-HTML-Technical-Specifications/[New] Agency-Email-HTML-Technical-Specifications/templates_elements/exemples/01/images/logom.jpg') !important;
      }
      *[class].vis1 {
      padding-right: 300px !important;
      padding-bottom: 291px !important;
      background-image: url('file:///T|/2. Digital/3. Clients/Nespresso/Guidelines/CRM/eDM guidelines/[New] Agency-Email-HTML-Technical-Specifications/[New] Agency-Email-HTML-Technical-Specifications/templates_elements/exemples/01/images/vis1m.jpg') !important;
      }
      *[class].w10 {
      width: 10px !important;
      }
      *[class].w25 {
      width: 25px !important;
      }
      *[class].w61 {
      width: 61px !important;
      }
      *[class].w70 {
      width: 70px !important;
      }
      *[class].w68 {
      width: 68px !important;
      }
      *[class].w96 {
      width: 96px !important;
      }
      *[class].w90 {
      width: 90px !important;
      }
      *[class].w55 {
      width: 55px !important;
      }
      *[class].w171 {
      width: 171px !important;
      }
      *[class].w215 {
      width: 215px !important;
      }
      *[class].w276 {
      width: 276px !important;
      }
      *[class].w277 {
      width: 277px !important;
      }
      *[class].w300 {
      width: 300px !important;
      }
      *[class].w60 {
      width: 60px !important;
      }
      *[class].w20 {
      width: 20px !important;
      }
      *[class].w38 {
      width: 38px !important;
      }
      *[class].w320 {
      width: 320px !important;
      }
      *[class].h2 {
      height: 2px !important;
      }
      *[class].h10, .h10  {
      height: 10px !important;
      }
      *[class].h20, .h20  {
      height: 20px !important;
      }
      *[class].h25 {
      height: 25px !important;
      }
      *[class].h30 {
      height: 30px !important;
      }
      *[class].h40 {
      height: 40px !important;
      }
      *[class].h38 {
      height: 38px !important;
      }
      *[class].h80 {
      height: 80px !important;
      }
      *[class].h2, .h2 {
      height: 2px !important;
      }
      *[class].w2, .w2 {
      width: 3px !important;
      }
      *[class].tar {
      text-align: right !important;
      }
      *[class].totop {
      display: table-header-group !important;
      }
      *[class].tobottom {
      display: table-footer-group !important;
      }
      img {
      max-width: 100%;
      height: auto;
      max-height: auto !important;
      }
      *[class].nav img {
      }
      *[class].nav td {
      width: auto !important;
      text-align: center !important;
      }
      *[class].nav td[bgcolor="#ababaa"] {
      width: 1px !important;
      }
      *[class].heading {
      font-size: 18px !important;
      }
      *[class].secondary-message {
      font-size: 12px !important;
      }
      *[class].force-left, .force-left {
      width: 100% !important;
      float: left !important;
      }
      *[class].force-right {
      width: 100% !important;
      float: right !important;
      }
      *[class].txt-center {
      text-align: center;
      }
      *[class].txt-center td {
      text-align: center !important;
      }
      *[class].txt-center td table {
      text-align: center !important;
      margin: 0 auto;
      }
      *[class].auto-height {
      height: 20px !important;
      }
      *[class].master-visual {
      width: 180px !important;
      height: auto !important;
      }
      *[class].auto-width {
      width:auto !important;
      }
      *[class].centerblocks {
      float: none !important;
      margin: 0 auto !important;
      }
      *[class].rounded, .rounded{
      border-radius:10px;
      background: none !important;
      }
      *[class].flexible-content, .flexible-content{
      width: 100% !important;
      }
      *[class].block, .block {
      width: 100% !important;
      text-align: center !important;
      display: block !important;
      margin: 0 auto !important;
      }
      *[class].block-txt, .block-txt {
      text-align: center !important;
      display: block !important;
      margin: 0 auto !important;
      }
      *[class].block-float, .block-float {
      float: left !important;
      width: 100% !important;
      text-align: center !important;
      display: block !important;
      margin: 0 auto !important;
      }
      *[class].content-block{
      width: 100%;
      text-align: center !important;
      display: block !important;
      margin: 0 auto !important;
      }
      *[class].height10 {
      height: 10px !important;
      }
      *[class].fluid-cell {
      width: 100%;
      text-align: center;
      display:block;
      vertical-align: middle;
      }
      *[class].hidden, .hidden {
      display: none;
      }
      .wtable {
      width: 600px;
      }
      .body {
      background-color: #232323 !important;
      }
      .small {
      display: none;
      display: none !important;
      width: 0px;
      overflow: hidden;
      float: left;
      }
      .ExternalClass * {
      line-height: 100%;
      }
      .p-l-r{
      padding: 0 15px;
      }
      .p-l-r-50{
      padding: 0 50px;
      }
      .space-vert10{
      padding: 0 10px;
      }
      .bg-color{
      background-color: #ffffff !important;
      }
      }
      </style>
   </head>
   <body style="margin: 0;">
      <center>
      <table align="center" width="640" class="flexible-content" cellpadding="0" cellspacing="0" border="0" style="text-align: center; background-color: #fafbfc;">
         <tr>
            <td>
               <div style="display:none; font-size:1px; color:#FFFFFF; line-height:1px; max-height:0px; max-width:0px; opacity:0; overflow:hidden; text-align: left; direction: ltr;">{% Email.Preheader #%}</div>
            </td>
         </tr>
         <tr>
            <td width="100%" align="center" valign="top" style="background-color: #fafbfc;"><a href="https://www.coca-cola-arena.com/en/events/Jokoy-Just-Kidding-World-Tour" target="_blank"><img src="images/banner.jpg" alt="banner-comp" width="640" height="519"/></a></td>
         </tr>
         <tr>
            <td>
               <table width="100%" cellpadding="0" cellspacing="0" border="0" class="flexible-content" style="background-color: #;">
                  <tr>
                     <td height="30" align="left" valign="top"></td>
                     <td height="30" align="left" valign="top"></td>
                     <td height="30" align="left" valign="top"></td>
                  </tr>
                  <tr>
                     <td width="65" align="left" valign="top" class="hidden"></td>
                     <td>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                           <tr>
                              <td align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; color: #141414; font-size: 15px; line-height: 22px;" class="p-l-r">The <strong>Just Kidding World Tour</strong> is just a few days away and we’re as excited as you are! Get ready to laugh-out-loud with 2018's <strong>‘Stand-Up Comedian of the Year’, Jo Koy,</strong>  at his debut show in Dubai.</td>
                           </tr>
                           <tr>
                              <td height="20" align="left" valign="top"></td>
                           </tr>
                           <tr>
                              <td align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; color: #141414; font-size: 15px; line-height: 22px;" class="p-l-r">Before you head to <strong>Coca-Cola Arena</strong> on <strong style="color: #ed1c24;">January 20</strong>, here's some important information you should know to help make your evening hassle-free and to have the best experience.</td>
                           </tr>
                           <tr>
                              <td height="20" align="left" valign="top" class="hidden"></td>
                           </tr>
                           <tr>
                              <td class="h30"></td>
                           </tr>
                        </table>
                     </td>
                     <td width="65" align="left" valign="top" class="hidden"></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <td>
               <table width="640" align="center" cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                  <tr>
                     <td align="left" class="content-block" valign="middle" height="104">
                        <table border="0" cellpadding="0" cellspacing="0" class="flexible-content" style="font-family:Arial, Helvetica, sans-serif; background-color: #eef1f4;" width="317">
                           <tbody>
                              <tr>
                                 <td height="25" align="left" valign="top"></td>
                                 <td height="25" align="left" valign="top"></td>
                                 <td height="25" align="left" valign="top"></td>
                                 <td height="25" align="left" valign="top"></td>
                              </tr>
                              <tr>
                                 <td width="45" align="left" valign="top" class="hidden"></td>
                                 <td align="center" valign="middle" class="content-block" width="56"><img alt="" src="images/icon1.png" /></td>
                                 <td width="30" align="left" valign="top" class="hidden"></td>
                                 <td class="content-block" width="190" valign="middle">
                                    <table cellpadding="0" cellspacing="0" border="0" class="txt-center centerblocks">
                                       <tr>
                                          <td class="h10"></td>
                                       </tr>
                                       <tr>
                                          <td align="left" valign="bottom" style="font-family:Arial, Helvetica, sans-serif; color: #f40009; font-size: 12px; line-height: 22px; text-transform: uppercase;" class="p-l-r">Doors open at</td>
                                       </tr>
                                       <tr>
                                          <td align="left" valign="bottom" style="font-family:Arial, Helvetica, sans-serif; color: #141414; font-size: 20px; line-height: 22px; text-transform: uppercase; font-weight: bold;" class="p-l-r">06:15PM</td>
                                       </tr>
                                       
                                    </table>
                                 </td>
                              </tr>
                              <tr>
                                 <td height="25" align="left" valign="top"></td>
                                 <td height="25" align="left" valign="top"></td>
                                 <td height="25" align="left" valign="top"></td>
                                 <td height="25" align="left" valign="top"></td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                     <td align="right" class="content-block" valign="middle" width="317" height="104">
                        <table border="0" cellpadding="0" cellspacing="0" class="flexible-content" style="font-family:Arial, Helvetica, sans-serif; background-color: #eef1f4;" width="318">
                           <tbody>
                              <tr>
                                 <td height="25" align="left" valign="top"></td>
                                 <td height="25" align="left" valign="top"></td>
                                 <td height="25" align="left" valign="top"></td>
                                 <td height="25" align="left" valign="top"></td>
                              </tr>
                              <tr>
                                 <td width="45" align="left" valign="top" class="hidden"></td>
                                 <td align="center" valign="middle" class="content-block" width="24"><img alt="" src="images/mic.png" /></td>
                                 <td width="30" align="left" valign="top" class="hidden"></td>
                                 <td class="content-block" width="190" valign="middle">
                                    <table cellpadding="0" cellspacing="0" border="0" class="txt-center centerblocks">
                                       <tr>
                                          <td class="h10"></td>
                                       </tr>
                                       <tr>
                                          <td align="left" valign="bottom" style="font-family:Arial, Helvetica, sans-serif; color: #f40009; font-size: 12px; line-height: 22px; text-transform: uppercase;" class="p-l-r">show starts AT</td>
                                       </tr>
                                       <tr>
                                          <td align="left" valign="bottom" style="font-family:Arial, Helvetica, sans-serif; color: #141414; font-size: 20px; line-height: 22px; text-transform: uppercase; font-weight: bold;" class="p-l-r">07:45PM</td>
                                       </tr>
                                       
                                    </table>
                                 </td>
                              </tr>
                              <tr>
                                 <td height="25" align="left" valign="top"></td>
                                 <td height="25" align="left" valign="top"></td>
                                 <td height="25" align="left" valign="top"></td>
                                 <td height="25" align="left" valign="top"></td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <td>
               <table width="640" cellpadding="0" cellspacing="0" border="0" class="flexible-content" style="background-color: #eef1f4;">
                  <tr>
                     <td width="45" align="left" valign="top" class="hidden"></td>
                     <td>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                           <tr>
                              <td align="left" class="content-block" valign="middle" width="270">
                                 <table width="270" align="left" cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                                    <tr>
                                       <td class="h30"></td>
                                       <td class="h30"></td>
                                       <td class="h30"></td>
                                    </tr>
                                    <tr>
                                       <td height="25" align="left" valign="top" class="hidden"></td>
                                       <td height="25" align="left" valign="top" class="hidden"></td>
                                       <td height="25" align="left" valign="top" class="hidden"></td>
                                    </tr>
                                    <tr>
                                       <td align="center" valign="middle" class="content-block" width="42"><img alt="" src="images/icon3.png" /></td>
                                       <td width="40" align="left" valign="top" class="hidden"></td>
                                       <td class="content-block" width="190" valign="middle">
                                          <table cellpadding="0" cellspacing="0" border="0" class="txt-center centerblocks">
                                             <tr>
                                                <td class="h10"></td>
                                             </tr>
                                             <tr>
                                                <td align="left" valign="bottom" style="font-family:Arial, Helvetica, sans-serif; color: #f40009; font-size: 12px; line-height: 22px; text-transform: uppercase;" class="p-l-r">box office timings</td>
                                             </tr>
                                             <tr>
                                                <td align="center" valign="bottom" style="font-family:Arial, Helvetica, sans-serif; color: #141414; font-size: 20px; line-height: 22px; text-transform: uppercase; font-weight: bold;" class="p-l-r">09:00AM - 09:00PM</td>
                                             </tr>
                                             <tr>
                                                <td align="left" valign="bottom" style="font-family:Arial, Helvetica, sans-serif; color: #1c1c1c; font-size: 12px; line-height: 22px; text-transform: uppercase;" class="p-l-r">event day</td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td height="25" align="left" valign="top" class="hidden"></td>
                                       <td height="25" align="left" valign="top" class="hidden"></td>
                                       <td height="25" align="left" valign="top" class="hidden"></td>
                                    </tr>
                                 </table>
                              </td>
                              <td align="left" class="content-block" valign="middle" width="20">
                                 <table width="20" align="center" cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                                    <tr>
                                       <td class="w10"></td>
                                       <td align="center" valign="middle" width="10" height="41" class="hidden"><img alt="" src="images/divider.jpg"/></td>
                                       <td width="20" align="left" valign="top" class="hidden"></td>
                                    </tr>
                                 </table>
                              </td>
                              <td align="left" class="content-block" valign="middle" width="193" height="66">
                                 <table cellpadding="0" cellspacing="0" border="0" class="txt-center centerblocks">
                                    
                                    <tr>
                                       <td align="center" height="41" valign="bottom" style="font-family:Arial, Helvetica, sans-serif; color: #141414; font-size: 20px; line-height: 22px; text-transform: uppercase; font-weight: bold;" class="p-l-r">09:00AM - 06:00PM</td>
                                    </tr>
                                    <tr>
                                       <td align="center" valign="bottom" style="font-family:Arial, Helvetica, sans-serif; color: #1c1c1c; font-size: 12px; line-height: 18px; text-transform: uppercase;" class="p-l-r">the day before the event</td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                        </table>
                     </td>
                     <td width="100" align="left" valign="top" class="hidden"></td>
                  </tr>
                  <tr>
                     <td class="h20"></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <td height="50" align="left" valign="top" class="hidden"></td>
         </tr>
         <tr>
            <td class="h30"></td>
         </tr>
         <tr>
            <td align="center" valign="middle" style="font-family:Arial, Helvetica, sans-serif; color: #1c1c1c; font-size: 22px; line-height: 22px; text-transform: uppercase; font-weight: bold;" class="p-l-r">venue info</td>
         </tr>
         <tr>
            <td height="20" align="left" valign="top"></td>
         </tr>
         <tr>
            <td align="center" valign="middle" style="font-family:Arial, Helvetica, sans-serif; color: #1c1c1c; font-size: 14px; line-height: 22px;" class="p-l-r">A few things to know to have the best possible experience</td>
         </tr>
         <tr>
            <td height="20" align="left" valign="top"></td>
         </tr>
         <tr>
            <td>
               <table width="100%" cellpadding="0" cellspacing="0" border="0" class="flexible-content" style="background-color: #f9fafb;">
                  <tr>
                     <td width="30" align="left" valign="top" class="hidden"></td>
                     <td>
                        <table width="580" cellpadding="0" cellspacing="0" border="0" class="flexible-content" style="background-color: #eeeff0;">
                           <tr>
                              <td valign="top" width="190" height="163" style="background-color: #ffffff;">
                                 <table width="190" align="left" cellpadding="0" cellspacing="0" border="0" class="flexible-content" style="background-color: #ffffff;">
                                    <tr>
                                       <td height="30" class="h10" align="left" valign="top"></td>
                                    </tr>
                                    <tr>
                                       <td align="center" valign="middle" height="65"><img alt="" src="images/icon7.png"/></td>
                                    </tr>
                                    <tr>
                                       <td height="10" align="left" valign="top"></td>
                                    </tr>
                                    <tr>
                                       <td align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; color: #141414; font-size: 12px; line-height: 16px;" class="p-l-r">Careem discount code:<br/><strong>CCAJK<br/></strong>*T&Cs apply
                                       </td>
                                    </tr>
                                    <tr>
                                       <td height="20" align="left" valign="top"></td>
                                    </tr>
                                 </table>
                              </td>
                              <td width="5" align="left" valign="top" class="w2"></td>
                              <td valign="top" width="190" height="173" style="background-color: #ffffff;">
                                 <table width="160" align="center" cellpadding="0" cellspacing="0" border="0" class="flexible-content" style="background-color: #ffffff;">
                                    <tr>
                                       <td height="30" class="h10" align="left" valign="top"></td>
                                    </tr>
                                    <tr>
                                       <td align="center" valign="middle" height="65"><img alt="" src="images/icon5.png"/></td>
                                    </tr>
                                    <tr>
                                       <td height="10" align="left" valign="top"></td>
                                    </tr>
                                    <tr>
                                       <td align="center" valign="middle" style="font-family:Arial, Helvetica, sans-serif; color: #141414; font-size: 12px; line-height: 16px;" class="space-vert10"><strong>F&B</strong> outlets are located <br/> on level G and level 1 <br/> No outside F&B allowed.</td>
                                    </tr>
                                    <tr>
                                       <td height="20" class="h10" align="left" valign="top"></td>
                                    </tr>
                                 </table>
                              </td>
                              <td width="5" align="left" valign="top" class="w2"></td>
                              <td valign="top" width="190" height="173" style="background-color: #ffffff;">
                                 <table width="170" align="center" cellpadding="0" cellspacing="0" border="0" class="flexible-content" style="background-color: #ffffff;">
                                    <tr>
                                       <td height="30" class="h10" align="left" valign="top"></td>
                                    </tr>
                                    <tr>
                                       <td align="center" valign="middle" height="65"><img alt="" src="images/mobile.png"/></td>
                                    </tr>
                                    <tr>
                                       <td height="10" align="left" valign="top"></td>
                                    </tr>
                                    <tr>
                                       <td align="center" valign="middle" style="font-family:Arial, Helvetica, sans-serif; color: #141414; font-size: 12px; line-height: 16px;" class="space-vert10">Strictly no use of mobile phones during the show, no photography or filming</td>
                                    </tr>
                                    <tr>
                                       <td height="20" align="left" valign="top"></td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                           <tr>
                              <td height="5" align="left" valign="top" class="h2" style="display: block;"></td>
                           </tr>
                           <tr>
                              <td valign="top" width="190" height="173" style="background-color: #ffffff;">
                                 <table width="170" align="center" cellpadding="0" cellspacing="0" border="0" class="flexible-content" style="background-color: #ffffff;">
                                    <tr>
                                       <td height="30" class="h20" align="left" valign="top"></td>
                                    </tr>
                                    <tr>
                                       <td align="center" valign="top" height="55"><img alt="" src="images/icon4.png"/></td>
                                    </tr>
                                    <tr>
                                       <td height="10" align="left" valign="top"></td>
                                    </tr>
                                    <tr>
                                       <td align="center" valign="middle" style="font-family:Arial, Helvetica, sans-serif; color: #141414; font-size: 12px; line-height: 16px;" class="space-vert10">Limited paid parking<br/> available in P2.<br/> Cash only AED50</td>
                                    </tr>
                                    <tr>
                                       <td height="20" align="left" valign="top"></td>
                                    </tr>
                                 </table>
                              </td>
                              <td width="5" align="left" valign="top" class="w2"></td>
                              <td valign="top" width="190" height="163" style="background-color: #ffffff;">
                                 <table width="190" align="center" cellpadding="0" cellspacing="0" border="0" class="flexible-content" style="background-color: #ffffff;">
                                    <tr>
                                       <td height="30" class="h20" align="left" valign="top"></td>
                                    </tr>
                                    <tr>
                                       <td align="center" valign="middle" height="55"><img alt="" src="images/icon8.png"/></td>
                                    </tr>
                                    <tr>
                                       <td height="10" align="left" valign="top"></td>
                                    </tr>
                                    <tr>
                                       <td align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; color: #141414; font-size: 12px; line-height: 16px;" class="p-l-r">Print your tickets<br/>
                                          in advance
                                       </td>
                                    </tr>
                                    <tr>
                                       <td height="20" align="left" valign="top"></td>
                                    </tr>
                                 </table>
                              </td>
                              <td width="5" align="left" valign="top" class="w2"></td>
                              <td valign="top" width="190" height="163" style="background-color: #ffffff;">
                                 <table width="190" align="right" cellpadding="0" cellspacing="0" border="0" class="flexible-content" style="background-color: #ffffff;">
                                    <tr>
                                       <td height="30" class="h20" align="left" valign="top"></td>
                                    </tr>
                                    <tr>
                                       <td align="center" valign="top" height="55"><img alt="" src="images/icon9.png"/></td>
                                    </tr>
                                    <tr>
                                       <td height="10" align="left" valign="top"></td>
                                    </tr>
                                    <tr>
                                       <td align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; color: #141414; font-size: 12px; line-height: 16px;" class="p-l-r">No professional cameras,<br/> lenses, backpacks, ipads,<br/> selfie sticks or bottles
                                       </td>
                                    </tr>
                                    <tr>
                                       <td height="20" align="left" valign="top"></td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                        </table>
                     </td>
                  </tr>
               </table>
            </td>
            <td width="30" align="left" valign="top" class="hidden"></td>
         </tr>
         <tr>
            <td height="5" align="left" valign="top"></td>
         </tr>
         <tr>
            <td align="center" valign="top"><img src="images/line1.png" class="hide hidden" alt="line1" width="600" height="46"/></td>
         </tr>
         <tr>
            <td height="40" align="left" valign="top" class="hidden"></td>
         </tr>
         <tr>
            <td>
               <table width="100%" cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                  <tr>
                     <td width="30" align="left" valign="top" class="hidden"></td>
                     <td>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                           <tr>
                              <td>
                                 <table width="235" align="left" cellpadding="0" cellspacing="0" border="0" class="flexible-content txt-center">
                                    <tr>
                                       <td height="10" class="h30" align="left" valign="top"></td>
                                    </tr>
                                    <tr>
                                       <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; color: #141414; font-size: 18px; font-weight: bold; text-transform: uppercase;" class="p-l-r">Plan your <strong style="color: #eb172b;">journey</strong></td>
                                    </tr>
                                    <tr>
                                       <td height="10" align="left" valign="top"></td>
                                    </tr>
                                    <tr>
                                       <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; color: #141414; font-size: 14px; line-height: 20px;" class="p-l-r"><strong style="color: #141414;">Coca-Cola Arena</strong> is located in City Walk, close to Financial Centre Road and Sheikh Zayed Road.</td>
                                    </tr>
                                    <tr>
                                       <td height="15" align="left" valign="top"></td>
                                    </tr>
                                    <tr>
                                       <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; color: #141414; font-size: 14px; line-height: 20px;" class="p-l-r">Public parking is not available around the venue. Plan your trip better by clicking below. </td>
                                    </tr>
                                    <tr>
                                       <td height="15" align="left" valign="top"></td>
                                    </tr>
                                    <tr>
                                       <td align="left" valign="top">
                                          <table border="0" cellpadding="0" cellspacing="0" width="180" style="border: 2px solid #141414;">
                                             <tbody>
                                                <tr>
                                                   <td width="180" height="39" align="center" valign="middle" style="text-align: center; vertical-align: middle; background-color: #fafbfc;" class="block-txt"><a href="https://www.coca-cola-arena.com/en/events/Jokoy-Just-Kidding-World-Tour" target="_blank" style="font-family: Arial, Helvetica, sans-serif; text-decoration: none;  color: #141414; font-size: 15px; text-transform: uppercase;line-height: 39px; font-weight: bold;">Travel Advice</a></td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="h40"></td>
                                    </tr>
                                 </table>
                                 <table width="330" align="right" cellpadding="0" cellspacing="0" border="0" class="flexible-content txt-center">
                                    <tr>
                                       <td align="center" valign="top"><img src="images/map.jpg" alt="map" width="330" height="250"/></td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                        </table>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <td height="40" align="left" valign="top" class="hidden"></td>
         </tr>
         <tr>
            <td class="h20"></td>
         </tr>
         <tr>
            <td>
               <table width="640" cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                  <tr>
                     <td>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                           <tr>
                              <td width="30" align="left" valign="top" class="hidden" style="background-color: #f0f2f5;"></td>
                              <td>
                                 <table width="100%" cellpadding="0" cellspacing="0" border="0" class="flexible-content txt-center">
                                    <tr>
                                       <td width="430" align="left" valign="top" style="background-color: #f0f2f5;">
                                          <table cellpadding="0" cellspacing="0" border="0" class="txt-center">
                                             <tr>
                                                <td>
                                                   <table width="295" cellpadding="0" cellspacing="0" border="0" class="txt-center">
                                                      <tr>
                                                         <td height="40" align="left" valign="top"></td>
                                                      </tr>
                                                      <tr>
                                                         <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; color: #141414; font-size: 17px; font-weight: bold; text-transform: uppercase;" class="p-l-r">Make a day, or night, of it!</td>
                                                      </tr>
                                                      <tr>
                                                         <td height="10" align="left" valign="top"></td>
                                                      </tr>
                                                      <tr>
                                                         <td align="left" valign="middle" style="font-family:Arial, Helvetica, sans-serif; color: #141414; font-size: 14px; line-height: 20px;" class="p-l-r">Home to an award-winning mix of F&B options, <strong>City Walk</strong> is the perfect place to build up the pre-show excitement over a great meal or keep the party going with a late dinner.</td>
                                                      </tr>
                                                      <tr>
                                                         <td class="h20"></td>
                                                      </tr>
                                                   </table>
                                                </td>
                                             </tr>
                                          </table>
                                       </td>
                                       <td width="150" align="left" valign="top" class="hidden">
                                          <table cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                                             <tr>
                                                <td align="left" valign="top"><img src="images/side-img1.jpg" alt="side-img1" width="150" height="170" style="display: block;" /></td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                              <td width="30" align="left" valign="top" class="hidden"></td>
                           </tr>
                        </table>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <td>
               <table width="640" cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                  <tr>
                     <td width="30" align="left" valign="top" class="hidden" style="background-color: #f0f2f5;"></td>
                     <td>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                           <tr>
                              <td align="left" valign="top"><a href="https://www.citywalk.ae/en" target="_blank"><img src="images/img1.jpg" alt="img1" width="580" style="display: block; background-color: #f0f2f5; height: auto;" /></a></td>
                           </tr>
                           <tr>
                              <td>
                                 <table width="100%" cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                                    <tr>
                                       <td>
                                          <table width="100%" cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                                             <tr>
                                                <td width="292" align="left" valign="top" height="111" style="background-color: #f0f2f5;">
                                                   <table cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                                                      <tr>
                                                         <td>
                                                            <table width="200" cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                                                               <tr>
                                                                  <td height="40" align="left" valign="top"></td>
                                                               </tr>
                                                               <tr>
                                                                  <td align="center" valign="top">
                                                                     <table border="0" cellpadding="0" cellspacing="0" width="200" style="border: 2px solid #141414; background-color: #f0f2f5">
                                                                        <tbody>
                                                                           <tr>
                                                                              <td width="200" height="40" align="center" valign="middle" style="text-align: center; vertical-align: middle; background-color: #f0f2f5;" class="block-txt"><a href="https://www.citywalk.ae/en" target="_blank" style="font-family: Arial, Helvetica, sans-serif; text-decoration: none;  color: #141414; font-size: 15px; text-transform: uppercase;line-height: 40px; font-weight: bold;">explore now</a></td>
                                                                           </tr>
                                                                        </tbody>
                                                                     </table>
                                                                  </td>
                                                               </tr>
                                                               <tr>
                                                                  <td class="h20"></td>
                                                               </tr>
                                                            </table>
                                                         </td>
                                                      </tr>
                                                   </table>
                                                </td>
                                                <td width="150" align="left" valign="top" class="hidden">
                                                   <table cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                                                      <tr>
                                                         <td align="left" valign="top"><img src="images/side-img2.jpg" alt="side-img2" width="288" height="111" style="display: block; height: auto;" /></td>
                                                      </tr>
                                                   </table>
                                                </td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                        </table>
                     </td>
                     <td width="30" align="left" valign="top" class="hidden"></td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <td>
               <table width="100%" cellpadding="0" cellspacing="0" border="0" class="flexible-content" style="background-color: #000000;">
                  <tr>
                     <td align="left" valign="top"><img src="images/bottom-img.jpg" alt="bottom-img" width="640" height="261"/></td>
                  </tr>
                  <tr>
                     <td height="20" align="left" valign="top"></td>
                  </tr>
                  <tr>
                     <td align="center" valign="top"><img src="images/line.jpg" alt="line" width="600" height="1"/></td>
                  </tr>
                  <tr>
                     <td height="20" align="left" valign="top"></td>
                  </tr>
                  <tr>
                     <td>
                        <table width="640" align="center" cellpadding="0" cellspacing="0" border="0" class="flexible-content" style="background-color: #000000;">
                           <tr>
                              <td>
                                 <table width="100%" cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                                    <tr>
                                       <td width="135" class="hidden"></td>
                                       <td valign="middle">
                                          <table width="340" align="center" cellpadding="0" cellspacing="0" border="0" class="centerblocks">
                                             <tr>
                                                <td align="center" valign="middle" width="50"><a href="https://www.facebook.com/cocacolaarena/" target="_blank"><img src="images/facebook.jpg" alt="facebook" width="10" height="17"/></a></td>
                                                <td width="46" class="hidden"></td>
                                                <td align="center" valign="middle" width="50"><a href="https://twitter.com/cocacolaarena" target="_blank"><img src="images/twitter.jpg" alt="twitter" width="20" height="17"/></a></td>
                                                <td width="47" class="hidden"></td>
                                                <td align="center" valign="middle" width="50"><a href="https://www.instagram.com/cocacolaarena/" target="_blank"><img src="images/instagram.jpg" alt="instagram" width="17" height="17"/></a></td>
                                                <td width="47" class="hidden"></td>
                                                <td align="center" valign="middle" width="50"><a href="https://www.youtube.com/channel/UCyqmgwvC48OOVBBsBLA_psA/" target="_blank"><img src="images/youtube.jpg" alt="youtube" width="24" height="17"/></a></td>
                                             </tr>
                                          </table>
                                       </td>
                                       <td width="135" class="hidden"></td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                           <tr>
                              <td height="10"></td>
                           </tr>
                           <tr>
                              <td>
                                 <table width="640" align="center" cellpadding="0" cellspacing="0" border="0" class="flexible-content" style="background-color: #000000;">
                                    <tr>
                                       <td height="15"></td>
                                    </tr>
                                    <tr>
                                       <td align="center" valign="top" width="50"><img src="images/line.jpg" alt="line" width="600" height="1"/></td>
                                    </tr>
                                    <tr>
                                       <td height="15"></td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                                             <tr>
                                                <td width="30" align="left" valign="top" class="hidden"></td>
                                                <td>
                                                   <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                                                      <tr>
                                                         <td>
                                                            <table width="175" align="left" cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                                                               <tr>
                                                                  <td align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; color: #ffffff; font-size: 14px; line-height: 22px;" class="p-l-r"><a href="https://www.coca-cola-arena.com/" style="color: #ffffff;"> www.coca-cola-arena.com</a></td>
                                                               </tr>
                                                               <tr>
                                                                  <td class="h10"></td>
                                                               </tr>
                                                            </table>
                                                            <table width="290" align="left" cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                                                               <tr>
                                                                  <td align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; color: #8f8f94; font-size: 14px; line-height: 22px;" class="p-l-r"><a href="{% EmailFeed.UnsubscribeFromEmailFeedUrl #%}" style="color: #8f8f94;"> Unsubscribe</a></td>
                                                               </tr>
                                                               <tr>
                                                                  <td class="h10"></td>
                                                               </tr>
                                                            </table>
                                                            <table width="105" align="right" cellpadding="0" cellspacing="0" border="0" class="flexible-content">
                                                               <tr>
                                                                  <td align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; color: #ffffff; font-size: 14px; line-height: 22px;" class="p-l-r"><a href="{% Email.ViewInBrowserUrl #%}" style="color: #ffffff;"> View in browser</a></td>
                                                               </tr>
                                                            </table>
                                                         </td>
                                                      </tr>
                                                   </table>
                                                </td>
                                                <td width="30" align="left" valign="top" class="hidden"></td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td height="15"></td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                        </table>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      </center>
   </body>
</html>